html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
}

nav div {
    background-color:red;
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px;
    color: white;
}


.titulo {
    font-size: 40px;
}

.indicacion {
    font-size: 18px;
}

.logo {
    background: transparent;
    flex-grow: 1;
}

.logo img {
    height: 50px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

.cuerpo {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-top: 30px;
}

.cuerpo div {
    margin-left: 5px;
    margin-right: 5px;
}

.footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
}

@media (max-width:700px) {
    .cuerpo {
        flex-direction: column;
    }
}

.selector {
    margin: 10px;
    text-align: right;
    cursor: pointer;
    text-decoration:underline;
}

.boton_index, .boton_back {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .img1 {
      width: 220px;
      height: 170px;
  }

  .img3 {
      width: 300px;
      height: 190px;
  }

  .img2 {
      width: 200px;
      height: 250 px;  
  }